<app-header></app-header>

<div class="main container">
<br>
<h2>Routines</h2>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Routine Name</th>
            <th>Work Time</th>
            <th>Rest Time</th>
            <th>Number Rounds</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let routine of routineData">
            <td>{{ routine.routineName }}</td>
            <td>{{ routine.workTime }}</td>
            <td>{{ routine.restTime }}</td>
            <td>{{ routine.numberRounds }}</td>
            <td><button  class="btn btn-secondary" type="button" (click)="runRoutine(routine.id)">Run</button></td>
            <td><button  class="btn btn-secondary" type="button" (click)="deleteRoutine(routine.id)">Delete</button></td>
        </tr>
    </tbody>
</table>
<br>

<button class="btn btn-dark" type="button" (click)="addRoutine()">Add New Routine</button>
</div>

