<h1>Interval Timer</h1>

<h2>Routines</h2>
<table>
    <thead>
        <tr>
            <th>Routine Id</th>
            <th>Routine Name</th>
            <th>Work Time</th>
            <th>Rest Time</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let routine of routineData">
            <td>{{ routine.routineId }}</td>
            <td>{{ routine.routineName }}</td>
            <td>{{ routine.workTime }}</td>
            <td>{{ routine.restTime }}</td>
        </tr>
    </tbody>
</table>
<br>

<h2>New Routine</h2>
<form [formGroup]="form">
    <label>Routine Id:</label>
    <input type="text" formControlName="routineId"><br><br>
    <label>Routine Name:</label>
    <input type="text" formControlName="routineName"><br><br>
    <label>Work Time:</label>
    <input type="number" formControlName="workTime"><br><br>
    <label>Rest Time:</label>
    <input type="number"  formControlName="restTime"><br><br>
</form>

<button class="favorite styled" type="button" (click)="addRoutine()">Save Routine</button>

