<h1>Routines</h1>
<table>
    <thead>
        <tr>
            <th>Routine Id</th>
            <th>Routine Name</th>
            <th>Work Time</th>
            <th>Rest Time</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let routine of routineData">
            <td>{{ routine.routineId }}</td>
            <td>{{ routine.routineName }}</td>
            <td>{{ routine.workTime }}</td>
            <td>{{ routine.restTime }}</td>
            <td><button class="favorite" type="button" (click)="runRoutine(routine.id)">Run Routine</button></td>
            <td><button class="favorite" type="button" (click)="deleteRoutine(routine.id)">Delete Routine</button></td>
        </tr>
    </tbody>
</table>
<br>

<button class="favorite styled" type="button" (click)="addRoutine()">Add New Routine</button>

