<app-header></app-header>
<div class="container">
    <br><br>
<h3>Add Routine</h3>
<br>
<form [formGroup]="form">
    <div class="form-group">
        <label>Routine Name:</label>
        <input class="form-control" type="text" formControlName="routineName" placeholder="Routine name...">
    </div>
    <div class="form-group">
        <label>Number Rounds:</label>
        <input class="form-control" type="number"  formControlName="numberRounds">
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
        <label>Work Time:</label>
        <input class="form-control" type="number" formControlName="workTime">
    </div>
    <div class="form-group col-md-6">
        <label>Rest Time:</label>
        <input class="form-control" type="number"  formControlName="restTime">
    </div>
    </div>
</form>
<br>
<button class="btn btn-default btn-dark mx-2" type="button" (click)="addRoutine()">Save Routine</button>
<button class="btn btn-default btn-dark" type="button" (click)="toRoutines()">Back to Routines</button>

</div>
