/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

body{
  
  background-color:#f4f4f4;
  
}

table {
    table-layout: fixed;
    width: 75%;
    border-collapse: collapse;
    border: 3px solid black;
    margin-left: 50px;
  }
  
  th, td {
    padding: 20px;
    text-align: center;
  }

  .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: grey;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgb(73, 71, 71);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.topbar {
  // position: absolute;
  height: 60px;
  margin: 0px;
  display: flex;
  align-items: center;
  background-color: #818181;
  color: rgb(235, 232, 232);
  font-weight: 600;
}

.sidebar {
  position:absolute;
  height: 100%;
  width: 90px;
  margin: 0px;
  display: flex;
  align-items: center;
  background-color: #818181;
  color: rgb(235, 232, 232);
  font-weight: 600;
}

.main {
  margin-left: 90px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

@media(max-width:568px){
  .toolbar{display:none}
}

@media(min-width:568px){
  //.sidebar{display:none}
}
